.custom-logo {
  .site-meta-headline { text-align: center; }

  .brand { background: none; }

  .site-title {
    margin: 10px auto 0;
    font-size: 48px;
    color: #7FFFD4;
    a { border: none; }
  }

  .site-subtitle{
    margin-top: 10px;
    font-size: 14px;
    color: #FF6600
    /*#999;*/
  }


}

.custom-logo-image {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  background: white;
}
